body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: Menlo, Monaco, 'Courier New',
		monospace;
}

.MuiDropzone-root {
	background-color: transparent !important;
}
.Muizone-text, .MuiDropzone-icon {
  color: white !important;
}
